@model Prova_Q2_Laercio_POO.Models.Cliente_Info

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Detalhes do Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cli_NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cli_Id_Cliente }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
